@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700&display=swap');

/* Reset Code */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 1000px;
    margin: 0 auto;
}
img{
    width: 100%;
}
.btn {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    background-color: #DD0000;
    padding: 10px 20px;
    border-radius: 7px;
    transition: background-color .3s;
}
.btn:hover{
    background-color: #e12929;
}

/* Banner CSS Code */
.banner-area{
    background-color: #161616;
    color: #fff;
    border-radius: 20px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-content{
    width: 50%;
}
.banner-content h1{
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
}
.banner-content p{
    font-size: 14px;
    margin-bottom: 30px;
}
.banner-content a{}
.banner-imgs{
    width: 45%;
}
.banner-imgs img {
    margin-bottom: -57px;
}

/* Blog CSS Code */
.blogs-area{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sidebar-menu {
    width: 18%;
    background-color: #161616;
    border-radius: 10px;
    padding: 30px;
    height: 180px;
}
#blog{
    background-color: #DD0000;
    color: #fff;
}
.sidebar-menu ul{}
.sidebar-menu ul li{
    list-style: none;
}
.sidebar-menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    background-color: #fff;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.blogs{
    width: 74%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.single-blog {
    border: 1px solid #ddd;
    border-radius: 15px;
}
.single-blog img{}
.blog-content{
    padding: 15px;
}
.blog-content h2 {
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 7px;
    margin-top: 5px;
}
.blog-content p {
    font-weight: 500;
    margin: 10px 0;
}
.blog-bottom{
    display: flex;
}
.blog-bottom p {
    margin-right: 30px;
    color: #555;
}
.blog-bottom p i{}